<div class="banner">
  <div class="banner__links">
    <a href="#" class="banner__link">
      <button class="banner__appointment">Make An Appointment</button>
    </a>
    <div class="banner__contact">
      <div class="banner__address">
        <img class="banner__icon" src="/assets/images/map.png" alt="">
        2763 12th Street SE, Salem, OR 97302
      </div>
      <div class="banner__phone">
        <img class="banner__icon" src="/assets/images/smartphone.png" alt="">
        (503) 315-8448
      </div>
    </div>
  </div>
</div>
