<div class="banner">
  <div class="banner__links">
    <a href="{{bookAppointmentLink}}" class="banner__link">
      <button class="banner__appointment">Make An Appointment</button>
    </a>
    <div class="banner__contact">
      <div class="banner__address">
        <img class="banner__icon" src="/assets/images/map.png" alt="">
        <a href="http://maps.google.com/maps?q=2763 12th Street SE, Salem, OR 97302">
          2763 12th Street SE, Salem, OR 97302</a>
      </div>
      <div class="banner__phone">
        <img class="banner__icon" src="/assets/images/smartphone.png" alt="">
        <a href="tel:503-315-8448">503-315-8448</a>
      </div>
    </div>
  </div>
</div>
