.content {
  max-width: 1140px;
  display: flex;
  padding: 2rem;
  gap: 2rem;
  margin: auto;

  &__section {
    border-radius: 4px;
    width: calc(100% / 2);
    box-shadow: 0 1px 2px 0 var(--light-gray);
    padding: 2rem;
    background-color: var(--background-gray);
  }
}

@media (max-width: 480px) {
  .content {
    flex-direction: column;

    &__section {
      width: auto;
    }
  }
}
