<app-header [headerTitle]="sportsHeaderTitle" [headerText]="sportsHeaderText" [style.background-image]="backgroundImage"></app-header>
<div class="sports-injuries page">
  <div class="sports-injuries__content">
    <h1 class="sports-injuries__title">{{title}}</h1>
    <div class="sports-injuries__section">
      <h2 class="sports-injuries__subtitle">Sports Injury Relief</h2>
      <p class="sports-injuries__paragraph">If you're an athlete, the demands of performing well in sports can put a strain on your body, resulting in sprains, strains, muscle tears, chronic pain and other symptoms that can affect athletic performance. Our goal is to help athletes recover quickly from injury which can be addressed through a number of different therapies offered by our chiropractic professionals. Through diagnosis and treatment, Dr. Rivas can help treat pain caused by sports injuries and get you safely back on the field.</p>
      <p class="sports-injuries__paragraph">Hands-on therapy is the goal for chiropractic care through spinal manipulation which helps restore joint function, reduce inflammation, and reduce pain. Many sports injuries can be treated through spinal manipulation and other chiropractic treatments with common symptoms and sports injuries that include:</p>
      <ul class="sports-injuries__list">
        <li class="sports-injuries__list-item">Tendinitis</li>
        <li class="sports-injuries__list-item">Sprains</li>
        <li class="sports-injuries__list-item">Strains</li>
        <li class="sports-injuries__list-item">Neck Pain</li>
        <li class="sports-injuries__list-item">Back Pain</li>
        <li class="sports-injuries__list-item">Muscle Spasms</li>
        <li class="sports-injuries__list-item">Loss of Mobility</li>
        <li class="sports-injuries__list-item">Headaches</li>
      </ul>
    </div>
    <div class="sports-injuries__section">
      <h2 class="sports-injuries__subtitle">Sports Injury Treatments</h2>
      <p class="sports-injuries__paragraph">If you're an athlete, the demands of performing well in sports can put a strain on your body, resulting in sprains, strains, muscle tears, chronic pain and other symptoms that can affect athletic performance. Our goal is to help athletes recover quickly from injury which can be addressed through a number of different therapies offered by our chiropractic professionals. Through diagnosis and treatment, Dr. Rivas can help treat pain caused by sports injuries and get you safely back on the field.</p>
      <p class="sports-injuries__paragraph">In addition to treating sports injuries, chiropractic care can help prevent injury and increase performance through maintenance that can help stretch the muscles, improve joint movement and range of motion, and maintain spinal function and alignment. Whether you decide to visit our Salem chiropractic office prior to a game or after, our staff can help improve athletic performance and help injury recovery. Treatments for sports injuries range from manual manipulation to a variety of other procedures including:</p>
      <ul class="sports-injuries__list">
        <li class="sports-injuries__list-item">Strength Exercises</li>
        <li class="sports-injuries__list-item">Stretching Therapy</li>
        <li class="sports-injuries__list-item">EMS (Electric Muscle Stimulation Therapy)</li>
        <li class="sports-injuries__list-item">Hot/Cold Therapies</li>
        <li class="sports-injuries__list-item">Massages</li>
        <li class="sports-injuries__list-item">Whole Body Balancing Vibration Therapy</li>
      </ul>
    </div>
    <div class="sports-injuries__section">
      <h2 class="sports-injuries__subtitle">Contact Us</h2>
      <p class="sports-injuries__paragraph">If you're looking for relief from sports injuries or if you want to start a preventative maintenance plan to keep your body in top shape, call our chiropractic office in Salem at (503) 315-8448 or message us to schedule your free 10-minute consultation with our chiropractor Dr. Rivas.</p>
    </div>
  </div>
</div>
