<app-banner></app-banner>
<nav class="nav">
  <span class="nav__logo">
    <img src="/assets/images/midvalleychirologo.png"/>
    <span>Mid Valley Chiropractic Center</span>
  </span>
  <div class="nav__list">
    <a class="nav__item" [routerLink]="['']">Home</a>
    <div class="nav__dropdown">
      <a class="nav__item">Services</a>
      <div class="nav__dropdown-content">
        <a class="nav__dropdown-link" [routerLink]="['/auto-accidents']">Auto Accidents</a>
        <a class="nav__dropdown-link" [routerLink]="['/back-pain-relief']">Back Pain Relief</a>
        <a class="nav__dropdown-link" [routerLink]="['/sports-injuries']">Sports-Related Injuries</a>
        <a class="nav__dropdown-link" [routerLink]="['/neck-pain-relief']">Neck Pain Relief</a>
      </div>
    </div>
    <a class="nav__item" [routerLink]="['']">New Patients</a>
    <a class="nav__item" [routerLink]="['/about']">About</a>
    <a class="nav__item" [routerLink]="['/contact']">Contact</a>
  </div>
</nav>


