.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white);
  padding: 1rem;
  max-width: 1140px;
  margin: auto;

  &__logo {
    display: flex;
    align-items: center;

    span {
      font-family: 'Geologica', sans-serif;
      font-weight: 700;
    }

    img {
      margin-right: 1rem;
      height: 50px;
      width: 50px;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    overflow-x: auto;
    list-style: none;
    text-align: center;
    white-space: nowrap;
  }

  &__dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;

    &:hover {
      display: block;
    }
  }

  &__dropdown {
    &:hover {
      display: block;

      .nav__dropdown-content {
        display: block;
        border-radius: 4px;
      }
    }
  }

  &__dropdown-link {
    float: none;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;

    &:first-child {
      border-radius: 4px 4px 0 0;
    }

    &:last-child {
      border-radius: 0 0 4px 4px;
    }

    &:hover {
      background-color: var(--green);
      color: var(--white);
    }
  }


  &__item {
    padding: 1rem;
    color: var(--blue);
    text-decoration: none;
  }
}

@media (max-width: 480px) {
  .nav {
    position: relative;
    scroll-behavior: smooth;
    flex-wrap: wrap;
    padding: 0;
    justify-content: center;

    &__logo {
      margin: 1rem;
      width: 100%;
    }

    &__list {
      display: flex;
      flex-wrap: nowrap;
      overflow-x: auto;
      text-align: center;
      white-space: nowrap;
    }

    &__item {
      width: 100%;
    }
  }
}
