<footer class="footer">
  <div class="footer__links">
    <h3 class="footer__heading">Links</h3>
    <div class="footer__list">
      <a [routerLink]="['']" class="footer__item">Home</a>
      <a [routerLink]="['/about']" class="footer__item">About</a>
      <a [routerLink]="['/services']" class="footer__item">Services</a>
      <a [routerLink]="['/contact']" class="footer__item">Contact</a>
      <a [routerLink]="['']" class="footer__item">Billing</a>
      <a [routerLink]="['']" class="footer__item">Insurance</a>
    </div>
  </div>
  <div class="footer__contact">
    <div class="footer__office">
      <h3 class="footer__heading">Office</h3>
      <p class="footer__address">2763 12th St SE</p>
      <p class="footer__address">Salem, OR 97302</p>
      <a class="footer__map" href="https://www.google.com/maps/place/Mid-Valley+Chiropractic+Center+-+Neck+and+Back+Pain+Relief/@44.914018,-123.031188,12z/data=!4m6!3m5!1s0x54bffedc41cec787:0xdf560a5e6b8628fa!8m2!3d44.9140176!4d-123.0311885!16s%2Fg%2F1tdnkvll?hl=en&entry=ttu">View In Maps</a>
    </div>
    <div class="footer__contact">
      <h3 class="footer__heading">Contact</h3>
      <p class="footer__email">
        <img class="footer__icon" src="/assets/images/email.png" alt="">
        <a href="mailto:test@test.com">test@test.com</a>
      </p>
      <p class="footer__phone"><img class="footer__icon" src="/assets/images/smartphone.png" alt="">503-315-8448</p>
    </div>
  </div>
  <div class="footer__hours">
    <h3 class="footer__heading">Hours</h3>
    <div class="footer__hours-wrapper">
      <div class="footer__days">
        <p>Monday</p>
        <p>Tuesday</p>
        <p>Wednesday</p>
        <p>Thursday</p>
        <p>Friday</p>
        <p>Saturday</p>
        <p>Sunday</p>
      </div>
      <div class="footer__hours">
        <p>9:00am - 4:00pm</p>
        <p>9:00am - 4:00pm</p>
        <p>9:00am - 4:00pm</p>
        <p>9:00am - 4:00pm</p>
        <p>9:00am - 4:00pm</p>
        <p>Closed</p>
        <p>Closed</p>
      </div>
    </div>
  </div>
</footer>
