.contact {
  &__section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    img {
      max-height: 500px;
    }
  }

  &__link {
    transition: transform 250ms;

    &:hover {
      transform: translateY(-5px);
    }
  }

  &__button {
    margin-top: 1rem;
    border-radius: 4px;
  }
}
