<app-header [headerTitle]="aboutHeaderTitle" [headerText]="aboutHeaderText" [style.background-image]="backgroundImage"></app-header>
<div class="about page">
  <div class="about__content">
    <h1 class="about__title">{{title}}</h1>
    <div class="about__section about__section--doctor">
      <img src="assets/images/doctor-rivas.jpg" alt="">
      <div class="about__section-content">
        <h2 class="about__subtitle">Christina Rivas, DC.</h2>
        <p class="about__paragraph">
          As a 1986 graduate of the Palmer College of Chiropractic-West, Dr. Christina Rivas (formerly Dr. Christina Torres), is well-trained and experienced in multiple chiropractic techniques to specifically target your chiropractic needs. With 32 years of experience, our chiropractor, Dr. Christina Rivas, is capable of analyzing your body or injury and creating a custom pain relief and rehabilitation plan to benefit your health. Our goal is to return you to pre-injury status. We understand the importance of educating you on chiropractic care so that you can heal quickly. Chiropractic treatment techniques include:
        </p>
        <ul class="about__list">
          <li class="about__list-item">Diversified Technique</li>
          <li class="about__list-item">Soft Tissue Therapy</li>
          <li class="about__list-item">Cranial Technique</li>
          <li class="about__list-item">Thompson Drop Table Technique</li>
          <li class="about__list-item">Spinal Traction</li>
          <li class="about__list-item">EMS (Electric Muscle Stimulation Therapy)</li>
          <li class="about__list-item">US (Ultrasound Therapy)</li>
          <li class="about__list-item">Paraffin Therapy</li>
          <li class="about__list-item">Strengthening Exercises</li>
          <li class="about__list-item">Stretching Therapy</li>
          <li class="about__list-item">Whole Body Balancing Vibration Therapy</li>
        </ul>
      </div>
    </div>
    <div class="about__section">
      <h2 class="about__subtitle">Experienced Knowledge</h2>
      <p class="about__paragraph">Mid-Valley Chiropractic Center provides a variety of techniques to treat chronic pain, headaches, disc disorders, sports injuries, and auto accident injuries. We help everyone from children, teenagers, adults and seniors. We do not treat symptoms but rather, assist you in creating and obtaining an improved quality of life.</p>
      <p class="about__paragraph">
        Not only will Dr. Rivas treat your existing conditions, she strives to prevent pain and illness from reoccurring. She will help you improve your quality of life, achieve your wellness goals, and heal your body to live your best life possible.
      </p>
    </div>
    <div class="about__section">
      <h2 class="about__subtitle">Se Habla Español!</h2>
      <p class="about__paragraph">Sirviendo la comunidad hispana desde 1987, Dr. Christina Rivas (anteriormente Dra. ChristinaTorres), especializa en cuello, espalda, y coyunturas. Lesiones de auto y trabajo o lesiones personales. Le ayuda aliviar nervios comprimidos, dolor de cuello o brazo, dolor de cabeza, dolor de cintura y pierna o desorden de quijada (TMJ).</p>
    </div>
  </div>
</div>
